@import "tailwindcss";

@theme {
  --font-Lato: Lato, sans-serif;
  --color-secondary: #00e5ff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button:before {
  margin-top: 20px;
  color: transparent !important; /* Hide the default color */
  border: 1px solid #77a3ba; /* Outline color */
  border-radius: 50%; /* Make it circular */
  width: 8px !important; /* Adjust size */
  height: 8px !important;
  display: block;
  content: ""; /* Remove default content */
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  background-color: #77a3ba !important; /* Fill color for active dot */
  border-color: #77a3ba; /* Match border */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
